/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


.body{
    margin: 0px;
}
.banner-text{
   color: white;
 }
.button-area{
    display: flex;
    align-items: center;
}
/*..................
  Top Banner styles
................ */
.banner-container{
    display: flex;
    font-family: 'Poppins', sans-serif;
    background-color: #2D25A0;
    margin-bottom: 86px;

    padding-right: 141px;
   

}
.half-width{
    width: 50%;
  
}

.half-width img{
    width: 100%;
    padding-left: 102px;
   
}
.img{
    width: 556px;
    height: 438px;
    margin-top: 83px;
    margin-right: 141px;
   
}
.banner-title{
    
    font-size: 64px;
    color: white;
    width: 485px;
    height: 230px;
    margin-top: 111px;
    margin-left: 156px;
  
}

.watch-button {
    text-decoration: none;
    background-color: #E02C6D;
    color: white;
    margin-top: 27px;
    margin-left: 156px;
    padding: 10px 24px;
 
}
/*.................
    players styles
...................*/

h2{
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    color: #18191F;
}
p{
   
    font-size: 16px;
    font-weight: 400;
    color: #6C6C6C;

}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px ;
    grid-row-gap: 27px;
    align-items: center;
}
.player{
    width: 330px;
    height: 474px;
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    margin-top: 20px;
 

}
.player img{
    width: 300px;
    height: 256px;
   
}
.player-photo img{
    width: 100%;
}
.player-info{
    display: flex;
    flex-direction: column;
}
/* footer styles */
.footer-section{
    margin-left: 475px;
    margin-top: 200px;
    width: 484px;
    height: 213px;
   
}
.footer-style {

    margin-top: 7%;
    padding-top: 2%;
    padding-bottom: 4%;
    text-align: center;;
    
}